<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433 
  -->
<configuration>
  <connectionStrings>
    <add name="ApplicationServices" connectionString="data source=.\SQLEXPRESS;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|\aspnetdb.mdf;User Instance=true" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.6.1" />
      </system.Web>
  -->
	
	
	
	<!--SETTINGS FOR APPLICATION GOES HERE-->
	<appSettings>
		<!-- Setting MSC file location for each province-->
		<add key="ns_obs" value="https://dd.weather.gc.ca/observations/xml/NS/yesterday/yesterday_ns_"/>
		<add key="nb_obs" value="https://dd.weather.gc.ca/observations/xml/NB/yesterday/yesterday_nb_"/>
		<add key="nl_obs" value="https://dd.weather.gc.ca/observations/xml/NL/yesterday/yesterday_nl_"/>
		<add key="pe_obs" value="https://dd.weather.gc.ca/observations/xml/PE/yesterday/yesterday_pe_"/>
		<add key="bc_obs" value="https://dd.weather.gc.ca/observations/xml/BC/yesterday/yesterday_bc_"/>
		<add key="qc_obs" value="https://dd.weather.gc.ca/observations/xml/QC/yesterday/yesterday_qc_"/>
		
		<!-- Set the thresholds for Extreme Rainfall-->
		<add key="ns_limit" value="74.9"/>
		<add key="nb_limit" value="74.9"/>
		<add key="nl_limit" value="74.9"/>
		<add key="pe_limit" value="74.9"/>
		<add key="bc_limit" value="19.9"/>
		<add key="qc_limit" value="19.9"/>
		
		<!-- Set "TO" email distribution list-->
		<add key="ns_email" value="david.macarthur@ec.gc.ca,lauren.pothier@ec.gc.ca,cody.bannister@ec.gc.ca,Dave.Wood@ec.gc.ca,ryan.alexander@ec.gc.ca,charles.leblanc@ec.gc.ca,karyne.martell@ec.gc.ca"/>
		<add key="nb_email" value="patrice.godin@ec.gc.ca,Alexandra.Audet@ec.gc.ca,Dave.Wood@ec.gc.ca,charles.leblanc@ec.gc.ca,karyne.martell@ec.gc.ca"/>
		<add key="nl_email" value="dave.curtis@ec.gc.ca,Dave.Wood@ec.gc.ca,Greg.Perchard@ec.gc.ca,charles.leblanc@ec.gc.ca,karyne.martell@ec.gc.ca"/>
		<add key="pe_email" value="david.macarthur@ec.gc.ca,lauren.pothier@ec.gc.ca,cody.bannister@ec.gc.ca,Dave.Wood@ec.gc.ca,ryan.alexander@ec.gc.ca,charles.leblanc@ec.gc.ca,karyne.martell@ec.gc.ca"/>
		<add key="bc_email" value="pcec-pacifique-swcp-pacific@ec.gc.ca"/>
		<add key="qc_email" value="Alexandra.Audet@ec.gc.ca,katherine.charland@ec.gc.ca,Yves.Lamontagne@ec.gc.ca,melia.lagace@ec.gc.ca,Martin.Rodrigue@ec.gc.ca,Julie.Savaria@ec.gc.ca"/>
	</appSettings>
	
	
	
  <system.web>
    <compilation debug="true" targetFramework="4.8"/>
    <authentication mode="Forms">
      <forms loginUrl="~/Account/Login.aspx" timeout="2880"/>
    </authentication>
    <membership>
      <providers>
        <clear/>
        <add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="ApplicationServices" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="/"/>
      </providers>
    </membership>
    <profile>
      <providers>
        <clear/>
        <add name="AspNetSqlProfileProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="ApplicationServices" applicationName="/"/>
      </providers>
    </profile>
    <roleManager enabled="false">
      <providers>
        <clear/>
        <add name="AspNetSqlRoleProvider" type="System.Web.Security.SqlRoleProvider" connectionStringName="ApplicationServices" applicationName="/"/>
        <add name="AspNetWindowsTokenRoleProvider" type="System.Web.Security.WindowsTokenRoleProvider" applicationName="/"/>
      </providers>
    </roleManager>
    <pages controlRenderingCompatibilityVersion="4.0"/>
  </system.web>
  <system.net>
    <mailSettings>
      <smtp from="Ryan.Alexander@ec.gc.ca">
        <network host="smtp.ncr.int.ec.gc.ca" password="" userName=" ryan.alexander@ec.gc.ca"/>
      </smtp>
    </mailSettings>
  </system.net>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>
</configuration>